.profile__img {
  display: block;
  width: 121px;
  height: 121px;
  border-radius: 50%;
  margin-right: 30px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 680px) {
  .profile__img {
    margin-right: 0;
  }
}
