.popup__container {
  max-width: 430px;
  min-height: 330px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 195px auto 0;
  position: relative;
  padding: 34px 36px 0 36px;
  box-sizing: border-box;
}

@media (max-width: 550px) {
  .popup__container {
    max-width: 282px;
    min-height: 322px;
    padding: 25px 22px 0 22px;
  }
}