.popup__container_bigImg {
  max-width: 75vw;
  height: 75vh;
  object-fit: cover;
  border-radius: 0;
  padding: 0;
  margin-top: 90px;
}

@media (max-width: 320px) {
  .popup__container_bigImg {
    width: 240px;
    height: 299px;
  }
}