.info__editing-btn {
	width: 24px;
	height: 24px;
	background-color: transparent;
	border: 1px solid #FFFFFF;
	cursor: pointer;
	position: absolute;
	top: 15px;
	left: 310px;
	padding: 0;
	transition: opacity 0.3s ease;
}

.info__editing-btn:hover {
	opacity: 0.6;
}

@media (max-width: 680px) {
	.info__editing-btn {
		top: 39px;
		left: 302px;
	}
}

@media (max-width: 470px) {
	.info__editing-btn {
		width: 18px;
		height: 18px;
		top: 32px;
		left: 198px;
	}
}