.popup__btn {
  width: 358px;
  height: 50px;
  background: #000000;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.popup__btn:hover {
  opacity: 0.8;
}

@media (max-width: 550px) {
  .popup__btn {
    width: 100%;
    margin-top: 45px;
    height: 46px;
  }
}