.info__title {
	max-width: 294px;
	font-size: 42px;
	line-height: 48px;
	font-weight: 500;
	color: #FFFFFF;
	margin: 0 18px 16px 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@media (max-width: 680px) {
	.info__title {
		margin: 23px 10px 14px 0;
	}
}

@media (max-width: 470px) {
	.info__title {
		font-size: 27px;
		line-height: 33px;
		max-width: 250px;
	}
}