.popup__close {
	position: absolute;
	top: -35px;
	right: -35px;
	cursor: pointer;
	transition: opacity 0.3s ease;
}

.popup__close:hover {
	opacity: 0.6;
}

@media (max-width: 550px) {
	.popup__close {
		width: 20px;
		height: 20px;
		right: 0;
	}
}