.card__btn_like {
  background: url('../../../../images/logo/heart_logo.svg') center center/ contain no-repeat;
  width: 22px;
  height: 19px;
  transition: scale 0.3s ease-in-out;
  margin-bottom: 3px;
}

.card__btn_like:hover {
  scale: 1.2;
}
