.card__btn_basket {
  background: url('../../../../images/logo/basket.svg') center center/contain no-repeat;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: opacity 0.3s ease, scale 0.2s ease, rotate 0.3s linear;
}

.card__btn_basket:hover {
  opacity: 0.6;
  scale: 1.2;
}
